---
---

@import 'variables';
@import 'mixins';
@import 'typography';
@import 'grid';
//@import 'bootstrap/bootstrap';

// Body defaults
body {
  font-family: Avenir-Light, sans-serif;
  background: #f7f6f5;
  color: #212429;
  margin: 0;
  text-rendering: optimizeLegibility;
  background-size: 100%;
  background-position: 0 -75px;
  background-repeat: no-repeat;
  animation: fadein 1s ease;
  padding: 20px;

  @media only screen and (max-width: 500px) {
    background-size: 100%;
    background-position: 0 0;
  }
}

a {
  color: #0c85ac;
  text-decoration: none;
  transition: color .25s;
  &:hover {
    color: #212429;
    transition: color .25s;
  }
}

// Sections
section {
  &.intro {
    margin: 100px 0;
    @media only screen and (max-width: 500px) {
      margin: 20px 0 40px 0;
    }
  }
  &:not(.intro) {
    border-top: solid 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 60px;
    @media only screen and (max-width: 500px) {
      margin-bottom: 40px;
    }
  }
  &.footer {
    text-align: center;
    margin: 75px auto;
    max-width: 260px;
    a {
      color: #0c85ac;
      &:hover {
        color: #212429;
      }
      @media only screen and (max-width: 500px) {
        display: block;
        padding: 10px;
      }
    }
    p {
      font-family: Avenir-Medium, sans-serif;
      font-size: 18px;
      color: #222427;
      line-height: 30px;
    }
  }
}