---
layout: base
---

<section class="intro">
  <h1>
    I'm Matt Latham.
  </h1>
    <p class="light">
      A self-taught web developer who sparked a passion for web technologies at a young age &mdash;
      and the constant evolution of this industry has inspired a lifetime of learning.
    </p>
    <p class="light">
      A passion and desire to stay ahead are some things that cannot be taught.
    </p>
    <p class="light">
      The rest just takes hard work.
    </p>
  </h1>
</section>

{% include index/projects.html %}

{% include index/footer.html %}