---
title: Projects | Matt Latham
layout: base
---
<section>
  {% for project in site.data.projects %}
  <div class="project">
    <h2>
      <a href="{{ project.url }}" target="_blank" rel="noopener noreferrer">{{ project.name }}</a>
    </h2>
    <div class="project__desc">
      {{ project.description }}
    </div>
    <div class="project__tags">
      <h3>Built using</h3>
      {% for tag in project.tags %}
        <img src="/assets/icons/{{ tag }}.svg" class="icon tag" alt="{{ tag }}" title="{{ tag }}"/>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</section>