header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  grid-area: header;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 20px;
  
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    a {
      margin: 5px 10px;
      &.active {
        font-weight: bold;
      }
    }
  }

  .logo {
    font-family: $logo-font;
    font-size: 26px;
  }

}