// Number of nav items
$nav-items: 4;

.burger {
    $block: &;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 1rem;
    right: 2rem;
    height: 1rem;
    width: 1.5rem;
    cursor: pointer;
    z-index: 2;

    &:before {
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        position: absolute;
        margin: -0.5rem;
    }

    &__bar {
        position: relative;
        display: block;
        background-color: silver;
        top: 0;
        width: 100%;
        height: 2px;
        overflow: hidden;
        transform: rotate(0) scale3d(1, 1, 1) translate3d(0, 0, 0);
        opacity: 1;
        transition: all 0.2s ease-in-out;

        &:not(:last-of-type) {
            margin-bottom: 2px;
        }

        &:after {
            content: '';
            position: absolute;
            right: 0;
            height: 100%;
            width: 100%;
            background-color: black;
            transform: translate3d(100%, 0, 0);
            transition: transform 0.2s ease-in;

            #{$block}:hover & {
                transform: translate3d(0, 0, 0);
            }
        }

        // Transition delays for hover effect
        @for $i from 0 to 3 {
            &:nth-child(#{$i + 1}) {
                &:after {
                    transition-delay: #{$i / 10}s;
                }
            }
        }
    }

    // Styles when nav is open
    .nav--open + & {
        // Scale away the middle bar
        #{$block}__bar:nth-child(2) {
            transform: scale3d(0.8, 0.8, 0.8);
            opacity: 0;
        }

        // Rotate bottom and top bar to form an 'X'
        #{$block}__bar:nth-child(1) {
            top: 7px;
            transform: rotate(45deg);
        }
        #{$block}__bar:nth-child(3) {
            top: -7px;
            transform: rotate(-45deg);
        }
    }
}

.nav {
    $block: &;
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: -1;
    transition: opacity .2s ease-in-out;

    @media screen and (max-width: 500px) {
        flex-direction: column;
    }

    &--open {
        z-index: 1;
    }
}

.nav-link {
    $block: &;
    background-color: salmon;
    display: flex;
    color: $link-color;
    flex-direction: column;
    flex-basis: 25%;
    padding: 2rem;
    height: 100%;
    justify-content: center;
    align-items: center;
    transform: translate3d(0, -100%, 0);
    transition: all .2s ease-in-out;
    will-change: transform;

    @media screen and (max-width: 500px) {
        width: 100%;
        flex-direction: row;
        transform: translate3d(100%, 0, 0);
    }

    @for $i from 0 to $nav-items {
        &:nth-of-type(#{$i + 1}) {
            transition-delay: #{$i / 20}s;
            
            #{$block}__icon {
                transition-delay: #{$i / 10}s;
            }
    
            #{$block}__text {
                transition-delay: #{$i / 10}s;
            }
        }

    }

    &:hover {
        background-color: lighten(salmon, 5%);
    }

    .nav--open & {
        transform: translate3d(0, 0, 0);
    }

    &__icon {
        max-width: 10rem;
        max-height: 100%;
        opacity: 0;
        transform: translate3d(0, -20%, 0);
        transition: all .2s ease-in-out;

        .nav--open & {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }

    &__text-wrapper {
        overflow: hidden;
        display: inline-block;
        margin-top: 2rem;

        @media screen and (max-width: 500px) {
            margin-top: 0;
            margin-left: 2rem;
        }
    }

    &__text {
        display: inline-block;
        transform: translate3d(0, 100%, 0);
        transition: all .4s ease-in;
        text-transform: uppercase;

        .nav--open & {
            transform: translate3d(0, 0, 0);
        }
    }
}