h1 {
  font-family: $title-font, serif;
  font-size: 26px;
  line-height: 40px;
}

h4 {
  font-family: $title-font, serif;
  font-size: 14px;
  color: $section-header-color;
  margin-bottom: 40px;
  margin-top: 25px;
}

p {
  font-family: $font, sans-serif;
  font-size: 15px;
  color: $color;
  line-height: 25px;
}

.light {
  font-family: $font, sans-serif;
  font-weight: 400;
}