// Breakpoint
$breakpoint: 500px;

// Fonts
$title-font: "Lora";
$font: "Montserrat";

$fallback-font: san-serif;

// Colors
$bg-color: rgb(239, 236, 202);
$color: rgb(0, 47, 47); // <body> font color
$link-color: rgb(4, 99, 128);
$link-hover-color: $color;
$header-color: rgb(167, 163, 126);