$base-font-size: 16px;

// Breakpoint
$breakpoint: 500px;

// Fonts
$logo-font: "Lora";
$title-font: "Lora";
$font: "Montserrat";

$fallback-font: san-serif;

// Colors
$bg-color: #fcfbf6;
$color: rgb(0, 47, 47); // <body> font color
$link-color: rgb(4, 99, 128);
$link-hover-color: $color;
$header-color: rgb(167, 163, 126);