<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ 'css/main.css' | absolute_url }}">
    {% include layouts/meta.html %}
</head>
<body>
    {% include layouts/header.html %}
    <main class="container">
        {{ content }}
    </main>
    {% include layouts/footer.html %}
</body>
</html>
