<!DOCTYPE html>
<html>

<head>
  {% include base/head.html %}
</head>

<body>
  {% include base/analytics_body.html %}
  <div class="container">
    {% include base/header.html %}
    <main>
      <h1>{{ page.title }}</h1>
       {% assign words = content | number_of_words %}
      <div>
        <small>{{ words | divided_by:180 }} minute read</small>
      </div>
      <div>
        <small>{{ page.date | date: '%B %d, %Y' }}</small>
      </div>
      {{ content }}
    </main>
    {% include base/footer.html %}
  </div>
</body>

</html>