<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ site.data.global.description }}">
<meta name="author" content="{{ site.data.global.name }}">
<meta charset="utf-8">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@{{ site.data.social.twitter.username }}">
<meta name="twitter:creator" content="@{{ site.data.social.twitter.username }}">
<meta name="twitter:title" content="{{ site.data.global.title }}">
<meta name="twitter:description" content="{{ site.data.global.description }}">
<meta name="twitter:image" content="">

<meta property="og:site_name" content="{{ site.data.global.title }}">
<meta property="og:title" content="{{ site.data.global.title }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ site.data.global.url }}">
<meta property="og:description" content="{{ site.data.global.description }}">
<meta property="og:image" content="">